.elementor-10229 .elementor-element.elementor-element-644bdd0 .elementor-spacer-inner{height:5vh;}.elementor-10229 .elementor-element.elementor-element-641b4de .elementor-heading-title{color:var( --e-global-color-secondary );font-weight:600;}.elementor-10229 .elementor-element.elementor-element-6545fc9 .elementor-spacer-inner{height:5vh;}.elementor-10229 .elementor-element.elementor-element-87e6e75 .elementor-heading-title{color:var( --e-global-color-secondary );font-size:2rem;}.elementor-10229 .elementor-element.elementor-element-3455b1a pre, .elementor-10229 .elementor-element.elementor-element-3455b1a code, .elementor-10229 .elementor-element.elementor-element-3455b1a .line-numbers .line-numbers-rows{font-size:1rem;}.elementor-10229 .elementor-element.elementor-element-c309bce .elementor-spacer-inner{height:5vh;}.elementor-10229 .elementor-element.elementor-element-76575d0 .elementor-author-box__name{color:var( --e-global-color-secondary );}@media(max-width:1024px){.elementor-10229 .elementor-element.elementor-element-87e6e75 .elementor-heading-title{font-size:1.4rem;}}@media(max-width:767px){.elementor-10229 .elementor-element.elementor-element-1050e04 > .elementor-element-populated > .elementor-widget-wrap{padding:0rem 0rem 0rem 0rem;}.elementor-10229 .elementor-element.elementor-element-87e6e75 .elementor-heading-title{font-size:1.4rem;}.elementor-10229 .elementor-element.elementor-element-76575d0 .elementor-author-box__name{font-size:5vw;}}/* Start custom CSS for text-editor, class: .elementor-element-499d589 */a {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}/* End custom CSS */