<div id="download">
    <div id="container" class="top-header"><h1>Download</h1></div>
    <div id="container" class="applications">
        <div class="ap-col">
            <h2 style="font-size: 2.8rem; letter-spacing: 0.4px;color:white;">
                Android
            </h2>
            <p>
                Arqma Android wallet
            </p>
            <div class="download-button">
                <a href="https://play.google.com/store/apps/details?id=com.arqma.Droid" class="button" target="_blank">Android</a>
            </div>
        </div>
        <div class="ap-col">
            <h2 style="font-size: 2.8rem; letter-spacing: 0.4px;color:white;">
                GitHub
            </h2>
            <p>
                Arqma github sources
            </p>
            <div class="download-button">
                <a href="https://github.com/arqma/" class="button" target="_blank">GitHub</a>
            </div>
        </div>
        <div class="ap-col">
            <h2 style="font-size: 2.8rem; letter-spacing: 0.4px;color:white;">
                Linux
            </h2>
            <p>
                Arqma GUI Linux binaries
            </p>
            <div class="download-button">
                <a href="https://github.com/arqma/arqma-electron-wallet/releases/" class="button" target="_blank">Linux</a>
            </div>
        </div>
        <div class="ap-col">
            <h2 style="font-size: 2.8rem; letter-spacing: 0.4px;color:white;">
                Mac
            </h2>
            <p>
                Arqma GUI Mac binaries
            </p>
            <div class="download-button">
                <a href="https://github.com/arqma/arqma-electron-wallet/releases/" class="button" target="_blank">Mac</a>
            </div>
        </div>
        <div class="ap-col">
            <h2 style="font-size: 2.8rem; letter-spacing: 0.4px;color:white;">
                Windows
            </h2>
            <p>
                Arqma GUI Windows binaries
            </p>
            <div class="download-button">
                <a href="https://github.com/arqma/arqma-electron-wallet/releases/" class="button" target="_blank">Windows</a>
            </div>
        </div>
        <div class="ap-col">
            <h2 style="font-size: 2.8rem; letter-spacing: 0.4px;color:white;">
                WWW
            </h2>
            <p>
                Arqma offline generator
            </p>
            <div class="download-button">
                <a href="https://generate.arqma.com/" class="button" target="_blank">Offline Gerator</a>
            </div>
        </div>
    </div>
</div>
