<div class="container">
    <div class="hero-background">
        <div class="hero-main">
            <div class="hero-logo"></div>
            <div class="hero-sub">
                <h1>ArQmA a digital currency</h1>
                <h2>Decentralization</h2>
                <h3>Revolution of the monetary system</h3>
                <p>ArQmA is at the heart of the ARQ-Network to empower merchants with fast and secure transactions without any middleman at a very low fee. <br>Favoring supply soundness and practival privacy</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="what-is-arqma">
        <div class="whatIs-main">
            <div class="whatIs-logo">
                <img src="../arqma-web/assets/images/about-image.png" />
            </div>
            <div class="whatIs-text">
                <h2>What is ArQmA?</h2>
                <p>ArQmA is a decentralized public blockchain project and is fully open source. The development team consists of enthusiasts who have been dealing with cryptography and computer science for a long time.</p>
            </div>
            <div class="row">
                <div class="column">
                    <ul>
                        <li>Of the people, by the people, for the people</li>
                        <li>User friendly and community driven</li>
                        <li>Anonymous and untraceable</li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <li>Open source and open minded</li>
                        <li>Quality before quantity</li>
                        <li>Fast and secure</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="FGNetwork">
        <div class="FGNetwork-main">
            <div class="FGNetwork-logo">
                <img src="../arqma-web/assets/images/mobile-logo.png" />
            </div>
            <div class="FGNetwork-text">
                <h2>The Fastest Growing Network</h2>
                <hr>
                <p>
                    ArQmA is based on the Monero codebase and is constantly enhanced with new features, developed by the team itself or integrated from the rich and flourishing Cryptonote ecosystem. Actually, the ArQmA Network uses the RandomARQ PoW Hashing Algorithm, is ASIC and Nicehash resistant to give everyone a chance to mine. The blockchain is fast to synchronize. Transfers are anonymous and untraceable using Bulletproof RingCT.
                </p>
                <hr>
            </div>
            <img src="../arqma-web/assets/images/white_logo_transparent_background-250x93.png" />
        </div>
    </div>
</div>
<div class="container">
    <div class="Founder">
        <div class="Founder-main">
            <div class="Founder-logo">
                <img src="../arqma-web/assets/images/michal-300x300.jpg" />
            </div>
            <div class="Founder-text">
                <h2>MICHAL VEL M@LBIT</h2>
                <hr>
                <p>
                    CEO/CO-FOUNDER
                </p>
                <hr>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100001235605826" target="_blank">
                            <i class="fab fa-facebook">Facebook</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/malbit" target="_blank">
                            <i class="fab fa-github">GitHub</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/MalickiMichal" target="_blank">
                            <i class="fab fa-twitter">Twitter</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="Exchanges">
        <div class="Exchanges-main">
            <div class="Exchanges-text">
                <h2 style="font-size: 2.8rem; letter-spacing: 0.4px;">Where To Trade ArQmA</h2>
                <p>
                    ArQmA is listed in various popular crypto exchanges
                </p>
            </div>
            <div class="Exchanges-logo">
                <a href="https://nonkyc.io/market/ARQ_BTC" target="_blank"><img src="../arqma-web/assets/images/nonkyc.png" /></a>
                <a href="https://tradeogre.com/exchange/BTC-ARQ" target="_blank"> <img src="../arqma-web/assets/images/tradeogre-logo.png" /></a>
                <a href="https://bisq.network/" target="_blank"><img src="../arqma-web/assets/images/bisq-logo.png" /></a>
            </div>
        </div>
    </div>
</div>
<div class="container" style="visibility: hidden;">
    <div class="Roadmap">
        <div class="Roadmap-main">
            <div class="Roadmap-text">
                <h2 style="font-size: 2.8rem; letter-spacing: 0.4px;color:white;">Roadmap</h2>
                <p>
                    Text being prepared
                </p>
            </div>
            <div class="Roadmap-logo">
                <a href="#" class="button">Roadmap</a>
            </div>
        </div>
    </div>
</div>
<div class="container" style="visibility: hidden;">
    <div class="Partners">
        <div class="Partners-main">
        </div>
    </div>
</div>
